.tooltip-box {
  position: absolute;
  top: 150px;
  right: -135px;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
}

.icon-img {
  width: 2rem;
  height: 2rem;
}

.tooltip-text {
  font-size: 0.75rem;
  font-weight: 500;
  color: black;
  line-height: 1.2;
}
.person_img {
  height: 700px; 
}

@media (min-width: 641px) and (max-width: 1024px) {
  .tooltip-box {
    top: 300px;
    right: 10px;
    padding: 0.5rem 1rem;
    gap: 0.75rem;
  }

  .icon-img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .tooltip-text {
    font-size: 0.875rem;
  }
   .person_img {
    height: 550px;
  }
}

@media (max-width: 640px) {
  .tooltip-box {
    top: 180px;
    right: 0.5rem;
    padding: 0.5rem;
    max-width: 200px;
  }

  .icon-img {
    width: 2rem;
    height: 2rem;
  }

  .tooltip-text {
    font-size: 0.75rem;
  }
  .person_img {
    height: 400px;
  }
}
